.detail-page {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.error {
  margin-top: 50vh;
}

.fill-space {
  width: 100%;
}

.back-button {
  min-width: 86px;
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.poster {
  height: 300px;
}

.summary-text {
  margin-top: 8px;
}